#ignore thumbnails created by windows
Thumbs.db
*.onetoc?
#Ignore files build by Visual Studio
Makefile
*/Makefile
*.obj
*.[eE][xX][eE]
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.bat
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pl
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
*.aps
*.wjf
*.INH
*.INP
*.DSSBATCH.V*
*.LST
*.INI
*.sln
*.vfproj
*.u2d
*.OUT
*.o
*.mod
*.ico
.DS_Store
Data/.DS_Store
build/
nbproject/
.metadata/
.project
.cproject
Makefile
cluster.patch
readme*
CMakeFiles/
CMakeCache.txt
Data/DSSATPRO.L47
Data/DSSATPRO.L48
Utilities/run_dssat
Utilities/CSMVersion.for
Plant/ORYZA
.vscode/*
.vs/*
.history/*
Resources/R*