*EXP. DATA (T): UFBG0701SC Sugarcane experiment observed (T) data                   
! Jim Shine and Fred Royce  
! File last edited on day 07/10/2009 
! From LaBorde (Florida Crystals) tiller counts data
!
!Treatments here correspond to variety:
! TRNO 1: CP80-1743 
! TRNO 2: CP88-1762
! TRNO 3: CP72-2086
! TRNO 4: CP89-2143
!
! BADMD Above-ground live dry mass; t/ha 
! L#S1D Number of leaves on primary stalk.  
! LAIGD Green LAI
! T#AD  Tillers (stalks) per m2 
! SMDMD Stalk dry mass t/ha  [= SUWTHa(DAS)+STKWTHa(DAS) i.e., structure + sugar]
! SMFMD Millable cane fresh weight at harvest (t/ha)
! SUCMD Sucrose dry mass (t/ha)
!
@TRNO   DATE BADMD SMFMD SUCMD LAIGD  T#AD SMDMD L#S1D
     1 08091                          10.0
     1 08091                           9.3
     1 08091                          16.8
     1 08091                          11.1
     1 08121                          22.4
     1 08121                          19.4
     1 08121                          26.0
     1 08121                          20.2
     1 08152                          22.5
     1 08152                          20.5
     1 08152                          25.1
     1 08152                          20.5
     1 08182                          11.3
     1 08182                          11.0
     1 08182                          13.5
     1 08182                          10.6
     1 08213                          10.2
     1 08213                           8.9
     1 08213                          11.3
     1 08213                           8.5
     1 08244                           8.7
     1 08244                           7.6
     1 08244                           9.8
     1 08244                           8.4
     1 08325        98.0                   
     2 08091                          13.7
     2 08091                          14.5
     2 08091                          10.3
     2 08091                          10.5
     2 08121                          13.8
     2 08121                          13.7
     2 08121                          12.9
     2 08121                          14.9
     2 08152                          12.2
     2 08152                          12.5
     2 08152                          11.6
     2 08152                          13.2
     2 08182                          10.0
     2 08182                          10.1
     2 08182                           7.3
     2 08182                           8.7
     2 08213                           9.7
     2 08213                           9.8
     2 08213                           7.8
     2 08213                           8.9
     2 08244                           8.7
     2 08244                           9.0
     2 08244                           7.8
     2 08244                           8.5
     2 08325       106.1                  
     3 08091                          12.6
     3 08091                           7.7
     3 08091                           9.4
     3 08091                          10.1
     3 08121                          17.4
     3 08121                          14.1
     3 08121                          17.7
     3 08121                          18.0
     3 08152                          19.2
     3 08152                          14.0
     3 08152                          16.5
     3 08152                          15.1
     3 08182                           6.9
     3 08182                           5.7
     3 08182                           7.6
     3 08182                           8.4
     3 08213                           7.3
     3 08213                           6.9
     3 08213                           8.0
     3 08213                           8.2
     3 08244                           7.2
     3 08244                           7.1
     3 08244                           7.6
     3 08244                           7.3
     3 08325       102.1                       
     4 08091                          14.5 
     4 08091                          16.5
     4 08091                          12.7
     4 08091                          10.4
     4 08121                          20.6
     4 08121                          22.9
     4 08121                          24.3
     4 08121                          16.8
     4 08152                          17.1
     4 08152                          20.5
     4 08152                          20.5
     4 08152                          15.7
     4 08182                           9.2
     4 08182                           9.0
     4 08182                          12.1
     4 08182                           9.0
     4 08213                           9.0
     4 08213                           8.1
     4 08213                          10.1
     4 08213                           8.6
     4 08244                           8.7
     4 08244                           7.8
     4 08244                           9.7
     4 08244                           8.6
     4 08325       102.6                  